<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Responsive Contact us form Using HTML and CSS</title>
	<link rel="stylesheet" href="form-css.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	
</head>
<body>
	
<div class="wrapper" id="app">
  
  <div class="title">
    <h1>{{titre}}</h1>
  </div>
  
  <div class="contact-form" >
   <div v-if="display1" class="contact-form" >
    <div class="input-fields">
      <input v-model="nomFr " type="text" class="input" placeholder="Nom">
      <input v-model="prenomFr" type="text" class="input" placeholder="Prenom">
      <input type="text" class="input" placeholder="Adresse">
      <input type="text" class="input" placeholder="Lieux de naissance">
	  <input type="text" class="input" placeholder="Date de naissance">
	  <input type="text" class="input" placeholder="Wilaya de Naissance">
	  <input type="text" class="input" placeholder="Pays de naissance">
	  
	</div>
	<div class="arabe">
	  <input type="text" class="input" placeholder="اللقب">
      <input type="text" class="input" placeholder="الإسم">
	  <input type="text" class="input" placeholder="Telephone">
	  <input type="text" class="input" placeholder="Enseignant permanant">
	  <input type="text" class="input" placeholder="Lieux d'exercice">
	  <input type="text" class="input" placeholder="E-mail">
	  <input type="text" class="input" placeholder="Nationalite">
	  <div class="btn" @click="next(1)"> next</div>
	</div>
   </div>
    <!-- <div class="msg">
      <textarea placeholder="Message"></textarea>
      <div class="btn">send</div>
    </div> -->
   <div v-if="display2" class="contact-form">
    <div class="input-fields">
	  
      <input type="text" class="input" placeholder="Diplome1">
      <input type="text" class="input" placeholder="Date Dipolome1">
      <input type="text" class="input" placeholder="Lieux Diplome1">
	  <input type="text" class="input" placeholder="Diplome2">
      <input type="text" class="input" placeholder="Date Dipolome2">
	  <div class="btn" @click="previous(2)"> previous </div>
	</div>
	<div class="arabe">
	 <input type="text" class="input" placeholder="Lieux Diplome2">
	 <input type="text" class="input" placeholder="Diplome3">
     <input type="text" class="input" placeholder="Date Dipolome3">
     <input type="text" class="input" placeholder="Lieux Diplome3">
	 <label class="lbl">  </label>
	 <div class="btn" @click="next(2)"> next</div>
	 </div>
   </div>
   <!-- <div class="msg">
      <textarea placeholder="Message"></textarea>
      <div class="btn">send</div>
    </div> -->
   <div v-if="display3" class="contact-form">
    <div class="input-fields">
      <input type="text" class="input" placeholder="NomEncadrant">
      <input type="text" class="input" placeholder="PrenomEncadrant">
      <input type="text" class="input" placeholder="GradeEncadrant">
      <input type="text" class="input" placeholder="FaculteEncadrant">
	  <input type="text" class="input" placeholder="EtablissementEncadrant">
	  <div class="btn" @click="previous(3)"> previous </div>
	</div>
	<div class="arabe">
      <input type="text" class="input" placeholder="Nom CoEncadrant">
      <input type="text" class="input" placeholder="Prenom CoEncadrant">
      <input type="text" class="input" placeholder="Grade CoEncadrant">
      <input type="text" class="input" placeholder="Faculté CoEncadrant">
	  <input type="text" class="input" placeholder="Etablissement CoEncadrant">
	  <div class="btn" @click="next(3)"> Next</div>
	</div>
   </div>
   <!-- <div class="msg">
      <textarea placeholder="Message"></textarea>
      <div class="btn">send</div>
    </div> -->
	
	<div v-if="display4" class="contact-form">
    <div class="input-fields">
      <input type="text" class="input" placeholder="Département">
      <input type="text" class="input" placeholder="Specialité">
      <input type="text" class="input" placeholder="Option">
	  <input type="text" class="input" placeholder="Domaine">
	  <div class="btn" @click="previous(4)"> previous </div>
	</div>
	<div class="arabe">
	  <input type="text" class="input" placeholder="Filière">
	  <input type="text" class="input" placeholder="Sujet">
      <input type="text" class="input" placeholder="Mots Clé">
      <input type="text" class="input" placeholder="Resumé">
	  <div class="btn" @click="inscrire()"> terminer</div>
	</div>
   </div>
	
	
  </div>
</div>
	
</body>

<script>
    var app = new Vue({
        el: "#app",
        data: {
		     
		     titre:"Informations Personnelles",
		     display1:true,
			 display2:false,
			 display3:false,
			 display4:false,
			 
			 code : 12,
			 nomFr:"a",
			 nomAr:"a",
			 prenomFr:"a",
			 prenomAr :"a",
			 prenomPereFr:"a",
			 nomMereFr:"a",
			 prenomMereFr:"a",
			 
			 dateNaissance:"a",
			 adresse:"a",
			 lieuxNaissance:"a",
			 wilayaNaissance:"a",
			 paysNaissance:"a",
			 nationalite:"a",
			 tel:"a",
			 mail:"a",
			 enseignatUniv:"a",
			 lieuxTravail:"a",
			 
			 Diplome1:"a",
			 datediplome1:"a",
			 lieuxdiplome1:"a",
			 Diplome2:"a",
			 datediplome2:"a",
			 lieuxdiplome2:"a",
			 Diplome3:"a",
			 datediplome3:"a",
			 lieuxdiplome3:"a",
			 
			 nomEncadrant:"a",
			 prenomEncadrant:"a",
			 gradeEncadrant:"a",
			 faculteEncadrant:"a",
			 etablissementEncadrant:"a",
			 nomCoencadrant:"a",
			 prenomcoencadrant:"a",
			 gradecoencadrant:"a",
			 facultecoencadrant:"a",
			 etablissementcoencadrant:"a",
			 sujet:"a",
			 resume:"a",
			 motsCles:"a",
			 departement:"a",
			 specialite:"a",
			 ooption:"a",
			 domaine:"a",
			 filiere:"a",
            items: [{
                id: 1,
                donedone: false,
                text: "item 1",
            }, {
                id: 2,
                done: false,
                text: "item 1",
            }, {
                id: 3,
                done: false,
                text: "item 2",
            }, {
                id: 4,
                done: true,
                text: "item 1",
            }, {
                id: 5,
                done: false,
                text: "item 1",
            }, {
                id: 6,
                done: true,
                text: "item 1",
            }, ],
        },
        methods: {
		    inscrire(){
			axios.post('http://localhost:8080/saveDoctorantRest'+{
																 
																 
																 
			 code: this.code,
			 nomFr: this.nomFr,
			 nomAr: this.nomAr,
			 prenomFr:this.prenomFr,
			 prenomAr :this.prenomAr,
			 prenomPereFr:this.prenomPereFr,
			 nomMereFr:this.nomMereFr,
			 prenomMereFr:this.prenomMereFr,
			 dateNaissance:this.dateNaissance,
			 adresse:this.adresse,
			 lieuxNaissance:this.lieuxNaissance,
			 wilayaNaissance:this.wilayaNaissance,
			 paysNaissance:this.paysNaissance,
			 naionalite:this.naionalite,
			 tel:this.tel,
			 mail:this.mail,
			 enseignatUniv:this.enseignatUniv,
			 lieuxTravail:this.lieuxTravail,
			 Diplome1:this.Diplome1,
			 datediplome1:this.datediplome1,
			 lieuxdiplome1:this.lieuxdiplome1,
			 Diplome2:this.Diplome2,
			 datediplome2:this.datediplome2,
			 lieuxdiplome2:this.lieuxdiplome2,
			 Diplome3:this.Diplome3,
			 datediplome3:this.datediplome3,
			 lieuxdiplome3:this.lieuxdiplome3,
			 
			 nomEncadrant:this.nomEncadrant,
			 prenomEncadrant:this.prenomEncadrant,
			 gradeEncadrant:this.gradeEncadrant,
			 faculteEncadrant:this.faculteEncadrant,
			 etablissementEncadrant:this.etablissementEncadrant,
			 
			 nomCoencadrant:this.nomCoencadrant,
			 prenomcoencadrant:this.prenomcoencadrant,
			 gradecoencadrant:this.gradecoencadrant,
			 facultecoencadrant:this.facultecoencadrant,
			 etablissementcoencadrant:this.etablissementcoencadrant,
			 
			 sujet:this.sujet,
			 resume:this.resume,
			 motsCles:this.motsCles,
			 departement:this.departement,
			 specialite:this.specialite,
			 ooption:this.ooption,
			 domaine:this.domaine,
			 filiere:this.filiere,
																 
																 
																 }
            
		   )
		   .then(reponse=>console.log(reponse));
			console.log("salamm");
			},
			
		    next(id){
			if (id===1) {
			this.display1=false;
			this.display2=true;
			this.titre="Diplomes";
			}
			if (id===2) {
			this.display2=false;
			this.display3=true;
			this.titre="Encadrants";	
			}
			if (id===3) {
			this.display3=false;
			this.display4=true;
			this.titre="Sujet";	
			}
	
			},
			previous(id){
			if (id===2) {
			this.display1=true;
			this.display2=false;
			this.titre="Informations Personnelles";
			}
			if (id===3) {
			this.display3=false;
			this.display2=true;
			this.titre="Diplomes";

			}
			if (id===4) {
			this.display4=false;
			this.display3=true;
			this.titre="Encadrements";

			}
			},
            done(id) {
                const item = this.items.find(item => item.id === id)
                item.done = true
            }
        }
    });
</script>

</html>